
<form action="/example.html" method="post" enctype="multipart/form-data">
    <input type="file" id="file" />
    <input type="submit" value="upload" />
</form>

<script src="assets/js/jquery-3.3.1.slim.min.js" ></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="src/jquery-progress-upload.js"></script>
<script>
    var settings = {};
    $('#file').setProgressedUploader({
  onInit: function (elements) {
    // triggered on init
  },

  onGetFile: function (elements) {
    // triggered on get file
  },

  onStartSubmitting: function (elements) {
    // triggered when starting uploading
  },

  onProcessing: function (elements) {
    // triggered when processing
  },

  onFinish: function (elements, data) {
    // triggered on finish
  },

  onError: function(e){
    // triggered on error
  }
});

</script>