//@import "scssFontAwesome/font-awesome.scss";


$green : #04CE6B;
$radiusDefault: 20px;
$radiusLarge:30px;
$paddingInputWithIconDefault: 7px 25px 10px 45px;
$marginInputDefault:0px 0 15px 0;
$bgBodyv2:#F0F8FB;

body{
    padding:0;
    margin:0;
    position:relative; 
    background:#F1FAFF;
    height: 100%;
}
.bodyHome{background: $bgBodyv2;}

@mixin btnDefault {
    a{  
        background: $green;
        color:white;
        border-radius: 40px;
        padding:6px 35px 8px 35px;
        &:hover{
            background: rgb(3, 179, 94);
            color:white;
        }
    }
  }


/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #F0F9FE;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

/* Handle */ 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6C91E7;
    -webkit-box-shadow: inset 0 0 6px #6184E8;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #6184E8;
}

.gradientRight{
    background: rgb(117,157,252);
    background: -moz-linear-gradient(left, rgba(117,157,252,1) 0%, rgba(65,108,212,1) 100%);
    background: -webkit-linear-gradient(left, rgba(117,157,252,1) 0%,rgba(65,108,212,1) 100%);
    background: linear-gradient(to right, rgba(117,157,252,1) 0%,rgba(65,108,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#759dfc', endColorstr='#416cd4',GradientType=1 );
}
.gradientBottomToTop{
    background: rgb(117,157,252);
    background: -moz-linear-gradient(top, rgba(117,157,252,1) 0%, rgba(65,108,212,1) 100%);
    background: -webkit-linear-gradient(top, rgba(117,157,252,1) 0%,rgba(65,108,212,1) 100%);
    background: linear-gradient(to bottom, rgba(117,157,252,1) 0%,rgba(65,108,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#759dfc', endColorstr='#416cd4',GradientType=0 );
}
.gradientDiagonal{
    background: rgb(117,157,252);
    background: -moz-linear-gradient(-45deg, rgba(117,157,252,1) 0%, rgba(65,108,212,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(117,157,252,1) 0%,rgba(65,108,212,1) 100%);
    background: linear-gradient(135deg, rgba(117,157,252,1) 0%,rgba(65,108,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#759dfc', endColorstr='#416cd4',GradientType=1 );
}


.headerContainer {
    background: lightblue;
    height: 100vh;
    position: relative;
    padding:0;
    background: rgb(117,157,252);
    background: -moz-linear-gradient(top, rgba(117,157,252,1) 0%, rgba(65,108,212,1) 100%);
    background: -webkit-linear-gradient(top, rgba(117,157,252,1) 0%,rgba(65,108,212,1) 100%);
    background: linear-gradient(to bottom, rgba(117,157,252,1) 0%,rgba(65,108,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#759dfc', endColorstr='#416cd4',GradientType=0 );
    &::before{
        background: url('../images/bgHeader.svg') no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        width:100%;
        height: 100vh;
        content:' ';
        position: absolute;
    }
    /*
        &::after{
        background: none url('../images/bottomHeader.svg') no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        width:100%;
        height: 320px;
        content:' ';
        position: absolute;
        bottom:0;
    }
    */

    header {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      background: none;
      transition: background 10ms ease;
      -webkit-transition: background 10ms ease;
      z-index: 10;
      
      &.scrolled {
        position: fixed;
        @extend .shadow-lg ; 
        top: -80px;
        background: rgba(255,255,255, 0.97) ;
        transform: translateY(70px);
        transition: transform 500ms ease,background 300ms ease;
        -webkit-transition: transform 500ms ease,background 300ms ease;
        .navbar-brand{
            display: table;
            width:65px;
            height: 20px;
            margin-top:10px;
            background: url('../images/logoBlue.svg') no-repeat;
            background-position: center;
            background-size: cover;
        }
        .navMobile{
            background: url('../images/navbarMenuBlue.svg') no-repeat;
            margin-top:20px;

        }
        // Medium devices (tablets, 768px and Down)
        @include media-breakpoint-down(md) { 
            .navbar-brand{
                margin:20px 0 0 0;
                margin-top:7px;
            }
        }
        nav{
            .navbar-nav{
                padding-top:10px;
            }
            a{
                color:#82b7e1;
                &:hover{
                    color:#04CE6B;
                }
            }
        }
        .btnStart{
            margin-top:6px;
            background: $green;
            color:white;
            border-radius: 40px;
            padding:6px 35px 8px 35px;
            &:hover{
                background: rgb(3, 179, 94);
                color:white;
            }
        }
      }
      nav {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        text-align: center;
        font-size: 18px;
        padding:10px 0 10px 0;
        a{
            color: white;
            padding-top:0;
            font-weight: 500;
            &:hover{
                color:#04CE6B;
            }
        }
        .btnStart{
            background: $green;
            border-radius: 40px;
            padding:6px 35px 8px 35px;
            &:hover{
                background: rgb(3, 179, 94);
                color:white;
            }
        }
      }
    }
    .navbar-brand{
        display: table;
        width:65px !important;
        height: 20px !important;
        background: url('../images/logoWhite.svg') no-repeat;
        background-position: center;
        background-size: cover;
    }

    .chartContainer{
        background: url('../images/bottomHeader.svg') no-repeat;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        z-index: 1;
        height: 300px;
        position: absolute;
        bottom:-1px; left:0;
        display: block;
        margin-left: -1px;
        width:100%;
        animation-duration: 0.5s;
        canvas{
            background:orange;
            height: 200px !important;
        }
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
    .content {
        color:white;
        position: absolute;
        top:0; left:0;
        z-index: 1;
        h2{
            font-weight: 700;
            font-size: 40px;
        }
        h4{
            font-size: 30px;
        }
        p{
            @extend .mt-4 ;
            font-size: 22px;
        }
        @include btnDefault;
    }
  }

/*SECTION SERVICE*/
.sectionService {
    margin-top: 5em;
    .titleSection{
        font-weight: 700;
        color:#939393;
        span{
            font-weight: 300;
        }
    }
    .card{
        border-radius: $radiusDefault;
        height: 450px;
        box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.08) !important;
        border:none;
        transition: 0.3s;
        margin:6em 0 6em 0;
        .card-body{
            @extend .text-center ;
            padding:45px;
            color:#939393;
            .icon{
                width:28%;
                @extend .mt-2 ;
            }
            h4{
                font-weight: 700;
                margin-top:15px;
                color:#939393;
            }
            
            .btnCard{
                background: white;
                color:#939393;
                border:1px solid #939393;
                border-radius: 40px;
                padding:6px 35px 8px 35px;
                transition: 0.3s;
                &:hover{
                    background: rgb(3, 179, 94);
                    color:white;
                    text-decoration: none;
                    border:1px solid rgb(3, 179, 94);
                }
            }
            .btnCardGradient{
                @extend .gradientRight ;
                color:white;
                border:none;
                border-radius: 40px;
                padding:6px 35px 8px 35px;
                transition: 0.3s;
                &:hover{
                    background: rgb(3, 179, 94);
                    color:white;
                    text-decoration: none;
                    border:none;
                }
            }
        }
        &:hover {
            @extend .shadow-lg ;
        }
    }
}
/*END SECTION SERVICE*/


/*FEATURE*/
.featureContainer{
    margin:6em 0 6em 0;
    color:#939393;
    .content{
        margin:0 0 8em 0;
    }
    .fImage{
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        border-radius: $radiusDefault;
        width:100%;
        height:380px;
        display: table;
        content: ' ';
        @extend .shadow ;
        position: relative;
    }
    h4{
        font-weight: 700;
        margin-top:15px;
        color:#939393;
    }
    h5{
        font-size: 12px;
        font-weight: 700;
    }
    .learnMore{
        color:#939393;
        font-weight: 400;
        font-size: 15px;
        transition: 0.3s;
        &::before{
            width:20px;
            height: 3px;
            margin-bottom: 3px;
            margin-right: 10px;
            content: ' ';
            display:inline-block;
            background: #939393;
        }
        &:hover{
            text-decoration: none;
            color:#82b7e1;
        }
    }
}
/*ENDFEATURE*/


/*WHY WE EXIST*/
.existSection{
    color:#939393;
    .titleSection{
        font-weight: 700;
        color:#939393;
        margin-bottom: 3.5em;
        span{
            font-weight: 300;
        }
    }
    .circleIcon{
        background: white;
        width:200px;
        height:200px;
        border-radius: 50%;
        position: relative;
        margin: auto !important;
        left:auto !important; right:auto !important;
        box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.08) !important;
        img{
            width:40%;
            position: absolute;
            top:2.5em; left:3.8em;
        }
        .label{
            position: absolute;
            bottom:35px;
            color:#939393;
            text-align: center;
            margin: auto !important;
            left:0 !important; right:0 !important;
        }
    }
    .flowXs{
        position: relative;
        img{
            margin:55px;
        }
        .seller{
            background: white url(../images/sellerIcon.svg) no-repeat;
            background-size: 50%;
            background-position-x: 50% !important;
            background-position-y: 40% !important;
            @extend .shadow-sm ;
            position: absolute;
            top:40%; left:5%;
            content:' Tes';
            display:block;
            width:15vw;
            height:15vw;
            border-radius:50%;
        }
        .buyer{
            background: white url(../images/buyerIcon.svg) no-repeat;
            background-size: 50%;
            background-position-x: 50% !important;
            background-position-y: 40% !important;
            @extend .shadow-sm ;
            position: absolute;
            top:40%; right:5%;
            content:' Tes';
            display:block;
            width:15vw;
            height:15vw;
            border-radius:50%;
        }
        .work{
            background: white url(../images/handshakeIcon.svg) no-repeat;
            background-size: 60%;
            background-position-x: 50% !important;
            background-position-y: 45% !important;
            @extend .shadow-sm ;
            position: absolute;
            bottom:5%; right:40%;
            content:' Tes';
            display:block;
            width:15vw;
            height:15vw;
            border-radius:50%;
        }
    }
}
@media only screen and (max-width: 500px){
    .flowXs{
        .seller{
            top:40%; right:10% ;
            margin-left:5%;
        }
        .buyer{
            top:40%; right:10%;
            margin-right:5%;
        }
        .work{
            bottom:10%; right:40%;
            margin-bottom:5%;
        }
    }
    
}
.popover{
    z-index: 1;
    border-color: #d1d1d1;
    @extend .shadow-sm ;
    padding:10px 20px;
    .popover-body{
        h4{
            color:#bbb;
        }
        color:#bbb;
    }
}

/*WHY WE EXIST*/

/*AREA OF INTEREST*/
.interestContainer{
    margin-top:12em;
    .titleSection{
        font-weight: 700;
        color:#939393;
        margin-bottom: 3.5em;
        span{
            font-weight: 300;
        }
    }
    .card{
        border-radius: $radiusDefault;
        height: 250px;
        @extend .gradientBottomToTop;
        border:none;
        position: relative;
        .bgImage{
            position: absolute;
            top:0; left:0;
            display: block;
            content:' ';
            width:100%;
            height:100%;
            border-radius:$radiusDefault;
            opacity: 0.1;
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            -o-background-size: cover !important;
            background-size: cover !important;
            border-radius: $radiusDefault;
        }
        .info{
            bottom:0; left:0;
            position: absolute;
            display: block;
            width:100%;
            height: 70%;
            padding:35px;
            text-align: center;
            h6{
                color:white;
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 15px;
            }
            .btnSmall{
                background: white;
                color:#939393;
                border-radius: 20px;
                padding:5px 25px 8px 25px;
                transition: 0.3s;
                &:hover{
                    background:$green;
                    text-decoration: none;
                    color:white;
                }
            }
        }
    }
}
/*END AREA OF INTEREST*/

/*OUR CLIENTS*/
.clientContainer{
    margin-top:12em;
    margin-bottom:12em;
    .titleSection{
        font-weight: 700;
        color:#939393;
        margin-bottom: 3.5em;
        span{
            font-weight: 300;
        }
    }
}
/*END OUR CLIENTS*/

/*FOOTER*/
footer{
    @extend .gradientBottomToTop;
    min-height: 400px;
    position: relative;
    padding:8em 0 2em 0;
    color:white;
    z-index: 1;
    .copyRight{
        border-top:1px solid rgb(67, 104, 190);
        margin-top:8em;
        padding:30px 0 0 0;
        font-size: 12px;
        color:#749CFB;
    }
    .titleFooter{
        font-weight: 700;
        color:white;
        margin-bottom: 20px;
        span{
            font-weight: 300;
        }
    }
    .bgFooter{
        position: absolute;
        bottom:0; left:0;
        width:50%;
        z-index: 1;
        opacity: 0.7;
    }
    .btnReadMore{
        background: white;
        color:#939393;
        border:1px solid #939393;
        border-radius: 40px;
        padding:6px 35px 8px 35px;
        transition: 0.3s;
        &:hover{
            background: rgb(3, 179, 94);
            color:white;
            text-decoration: none;
            border:1px solid rgb(3, 179, 94);
        }
    }
    .container{
        .row{
            .col{z-index: 900 !important;}
        }
    }
    .menu {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
        a{
            color:white;
            transition: 0.3s;
            &:hover{
                color:$green;
                text-decoration: none;
            }
        }
    }
}
/*END FOOTER*/


.overlayMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    @extend .gradientBottomToTop;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 900 !important;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlayMenu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.oveoverlayMenurlay a:hover, .overlayMenu a:focus {
    color: #f1f1f1;
}

.overlayMenu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
// Medium devices (tablets, 768px and Down)

 @include media-breakpoint-down(md) { 
    .overlayMenu a {
        font-size: 25px; color:white;
        &:hover{
            color:$green;
        }
    }
    .overlayMenu .closebtn {
      font-size: 30px;
      top: 0px;
      right: 15px;
    }
    .navbar-brand{
        margin:10px 0 0 10px;
    }
    .headerContainer{
        height: 500px;
        &::before{
            background: url('../images/bgHeader.svg') no-repeat;
            background-position: center;
            background-size: cover;
            display: block;
            width:100%;
            height: 500px;
            content:' ';
            position: absolute;
        }
        .content{
            height: 300px;
            width:100%;
            margin:0;
            padding:0;
            table{
                height: 100% !important;
                width:100% !important;
                text-align: center;
                td{
                padding:20px !important;
                }
            }
            h2{
                font-size: 7vw;
            }
            h4{
                font-size: 5vw;
            }
            p{
                display: none;
            }
        }
    }

    .titleSection{
        font-size: 6vw;
        margin-bottom: 2em;
    }

    .sectionService{
        .card{
            -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            height: auto;
            margin:0 0 20px 0;
            .card-body{
                width:100%;
                padding:10px 20px 10px 20px;
                margin-bottom:0;
                .icon{
                    width:15%;
                    float:left;
                    margin-right: 15px;
                }
                h4{
                    font-size: 15px;
                    text-align: left;
                    width:80%;
                }
                p{display: none;}
                a{
                    span{display: none}
                    border:none !important;
                    background: none !important;
                    position: absolute;
                    top:30%; right:-15px;
                    img{
                        width:25px;
                        width:25px;
                    }
                }
            }
        }
    }
    
    .featureContainer{
        .content{
            position: relative;
            .mLeft{
                .fImage{
                    background: orange;
                    width:100px;
                    height:100px;
                    position: absolute;
                    top:15px; left:0;
                    z-index: 1;
                }
            }
            .mRight{
                background: white;
                border-radius: $radiusDefault;
                padding:35px 15px;
                width:90%;
                right:0;
                height: 130px;
                position: absolute;
                top:0px; right:0;
                text-align: left !important;
                box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.08) !important;
            }
            .info{
                text-align: left !important;
                width:70%;
                position: absolute;
                top:0; right:0;
                height: 100%;
                padding-top:10%;
                padding-right: 15px;
                h5{
                    font-size: 10px !important;
                    line-height: 0;
                }
                h4{
                    font-size: 16px;
                    margin:0;
                }
                p{display: none;}
                a{
                    font-size: 12px;
                }
            }
        }
    }

    .existSection{
        .flowLg{
            display: none;
        }
    }
    .interestContainer{
        margin-top:1.5em;
        .titleSection{
            margin-bottom:40px !important;
            margin-top:0 !important;
        }
        .card{
            margin-bottom: 20px;
            height: 150px !important;
            .info{
                height: 100%;
                padding: 15px 10px;
                h6{
                    font-size: 4.5vw;
                }
                .btnSmall{
                    font-size: 12px;
                    img{
                        display: none;
                        color:white;
                        width:25px;
                        height:25px;
                    }
                }
            }
        }
    }
    .clientContainer{
        margin-top:1.5em;
        margin-bottom:4em;
        .titleSection{
            margin-bottom: 40px;
        }
    }
    footer{
        text-align: center;
    }
    .navbar-brand{
        width:65px !important;
        height: 20px !important;
    }
    .clientContainer{
        .cm{
            width:50% !important;
        }
    }
 }
//End Query Device

.navMobile{
    background: url('../images/navbarMenu.svg') no-repeat;
    width:30px;
    height:30px;
    margin:10px 15px 0 0;
}

//Smile device under 300px
@media only screen and (max-width: 330px) {
    .interestContainer{
        margin-top:1.5em;
        .titleSection{
            margin-bottom:40px !important;
            margin-top:0 !important;
        }
        .card{
            margin-bottom: 20px;
            height: 150px !important;
            .info{
                height: 100%;
                padding: 15px 10px;
                h6{
                    font-size: 4.5vw;
                }
                .btnSmall{
                    font-size: 12px;
                    background: none;
                    border:none;
                    &:hover{
                        background: none;
                    }
                    span{display: none;}
                    img{
                        display: block;
                        color:white;
                        width:25px;
                        height:25px;
                        position: absolute;
                        bottom:25px; left:40%;
                    }
                }
            }
        }
    }
}

/*Login Form*/
.loginForm {
    height: 100vh;
    table{
        margin:0;
        height: 100vh;
        .card{
            width:60%;
            margin:auto;
            left:auto; right:auto;
            border-radius: $radiusDefault;
            min-height: 400px;
            text-align: center;
            border:0;
            transition: 0.3s;
            animation-duration: 0.5s !important;
            -webkit-animation:  zoomIn ;
            &:hover{
                @extend .shadow;
            }
            
            .card-body{
                padding:50px 140px 80px 140px;
                animation-duration: 0.5s !important;
                -webkit-animation:  zoomIn ;
                animation-delay: 80ms;
                .inputUsername{
                    position: relative;
                    margin:$marginInputDefault;
                    input{
                        border:1px solid #D1D1D1;
                        border-radius: $radiusDefault;
                        padding: $paddingInputWithIconDefault;
                        width: 100%;
                        position: relative;
                        background: transparent;
                        font-size: 16px;
                        color:rgb(167, 167, 167);
                        transition: 0.3s;
                        &:hover{
                            @extend .shadow-sm;
                        }    
                        &::placeholder {
                            font-size: 16px;
                            color:#D1D1D1;
                            padding:0;
                            margin:0;
                        } 
                        &:focus{
                            outline: none !important;
                            -webkit-box-shadow: none !important;
                        }  
                    }  
                    &::before{
                        background: url('../images/iconUser.svg');
                        width:18px;
                        height:18px;
                        display:block;
                        position: absolute ;
                        top:10px !important; left:18px;
                        content:' ';
                    }
                }

                .inputPassword{
                    position: relative;
                    margin:$marginInputDefault;
                    input{
                        border:1px solid #D1D1D1;
                        border-radius: $radiusDefault;
                        padding: $paddingInputWithIconDefault;
                        width: 100%;
                        position: relative;
                        background: transparent;
                        font-size: 16px;
                        color:rgb(167, 167, 167);
                        transition: 0.3s;
                        &:hover{
                            @extend .shadow-sm;
                        }
                        &::placeholder {
                            font-size: 16px;
                            color:#D1D1D1;
                            padding:0;
                            margin:0;
                        } 
                        &:focus{
                            outline: none !important;
                            -webkit-box-shadow: none !important;
                        }
                    }  
                    &::before{
                        background: url('../images/IconPassword.svg') no-repeat;
                        width:20px;
                        height:20px;
                        display:block;
                        position: absolute ;
                        top:10px !important; left:18px;
                        content:' ';
                    }
                }

                .btnSubmit{
                    border:0px solid #D1D1D1;
                    border-radius: $radiusLarge;
                    padding: 9px 15px 11px 15px;
                    width: 100%;
                    position: relative;
                    font-size: 16px;
                    color:rgb(167, 167, 167);
                    transition: 0.3s;
                    margin-bottom: 10px;
                    cursor: pointer;
                    @extend .gradientDiagonal;
                    color:white;
                    &:hover{
                        @extend .gradientBottomToTop;
                    }
                }

                .btnOtherLogin{
                    border:1px solid #D1D1D1;
                    border-radius: $radiusLarge;
                    padding: 9px 15px 10px 15px;
                    width: 100%;
                    position: relative;
                    font-size: 16px;
                    color:rgb(167, 167, 167);
                    transition: 0.3s;
                    cursor: pointer;
                    display: block;
                    transition: 0.3s;
                    margin-bottom: 15px;
                        &:hover{
                            text-decoration: none;
                            @extend .shadow-sm;
                        }
                }

                .or{
                    border-bottom: 1px solid #D1D1D1;
                    position: relative;
                    margin:auto;
                    left:auto; right: auto;
                    padding:15px;
                    div{
                        background: white;
                        width:20px;
                        height:20px;
                        font-size: 12px;    
                        font-weight: 600;
                        color:#D1D1D1;
                        position: absolute !important;
                        bottom:-10px;
                        left:0; right: 0;
                        margin: auto;
                        display:table;
                    }
                }

            }

            .logo{
                img{
                    width:100px;
                    margin-bottom: 35px;
                }
                h1{
                    font-size: 30px;
                    color:#82B7E1;
                    margin-bottom: 35px;
                }
            }
        }
    }  
    .dontHave{
        font-size: 12px;
        color:#bbb;
    }  
}

//Register
.styleRegister{
    .title{
        font-size: 20px !important;
        color:#bbb;
        line-height: 24px;
        font-weight: 600;
    }
    p{
        color:#ccc;
        font-size: 14px;
    }
    .card-body{
        animation-duration: 0.5s !important;
        -webkit-animation:  zoomIn ;
        animation-delay: 80ms;
    }
    .cardLinkReg{
        color:#ccc;
        &:hover{
            text-decoration: none !important;
        }
        .cardRegister{
            border-radius: $radiusDefault;
            background-color: white;
            box-shadow: 0rem 0.100rem 0.70rem rgba(0,0,0,0.055) !important;
            padding:20px;
            text-align: left;
            margin-bottom: 15px;
            transition: 0.3s;
            h4{
                font-size: 18px;
                color:#bbb;
            }
            .iconFeature{
                img{
                    width:70px;
                    height:70px;
                }
            }
            &:hover{
                @extend .shadow ;
            }
        }
    }
}

.styleFormRegister{
    .card-body{
        width:100% !important;
        padding:10% 10% !important;
    }
    
}

@media only screen and (max-width: 1000px) {
    .loginForm{
        table{
            .card{
                width:100%;
                padding:0;
                .card-body{
                    width:100%;
                    padding:20% !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    .loginForm{
        table{
            .card{
                width:100%;
                padding:0;
                .card-body{
                    width:100%;
                    padding:10% !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .selectMultiple{
        & > div{
            margin:0px 0 30px 0 !important; 
        }
    }
}


button{
    &.btn-lg{
        border-radius: 30px !important;
        font-size: 16px;
    }
}

//InputDefaultStyle
.inputDefault { 
    position:relative; 
    margin-bottom:30px; 
    input{
        font-size:16px;
        padding:10px 10px 10px 5px;
        display:block;
        width:100%;
        border:none;
        border-bottom:1px solid #d1d1d1;
      }
      input:focus{ outline:none; }
      label {
        color:#BBB; 
        font-size:16px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:10px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }
      input:focus ~ label, input:valid ~ label {
        top:-20px;
        font-size:14px;
        color:#82B7E1;
      }
      .bar 	{ position:relative; display:block; width:100%; }
      .bar:before, .bar:after {
        content:'';
        height:2px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background:#82B7E1; 
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }
      .bar:before {
        left:50%;
      }
      .bar:after {
        right:50%; 
      }
      input:focus ~ .bar:before, input:focus ~ .bar:after {
        width:50%;
      }
      .highlight {
        position:absolute;
        height:60%; 
        width:100px; 
        top:25%; 
        left:0;
        pointer-events:none;
        opacity:0.5;
      }
      input:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
      }
  }

  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }

$textColor: #bbb;
$primary: #A1C9E8;

.selectMultiple {
    width: 100%;
    position: relative;
    select {
        display: none;
    }
    & > div {
        position: relative;
        z-index: 2;
        padding: 8px 12px 2px 0px;
        font-size: 16px;
        line-height: 24px;
        min-height: 44px;
        border-bottom: 1px solid #d1d1d1;
        text-align: left;
        //transition: box-shadow .3s ease;
        &:hover {
            //box-shadow: 0 4px 24px -1px rgba(#162A5A, .16);
        }
        .arrow {
            right: 1px;
            top: 0;
            bottom: 0;
            cursor: pointer;
            width: 28px;
            position: absolute;
            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 2px;
                height: 8px;
                border-bottom: 8px solid #99A3BA;
                top: 43%;
                transition: all .3s ease;
            }
            &:before {
                right: 12px;
                transform: rotate(-130deg);
            }
            &:after {
                left: 9px;
                transform: rotate(130deg);
            }
        }
        span {
            color: #bbb;
            display: block;
            position: absolute;
            left: 12px;
            cursor: pointer;
            top: 8px;
            line-height: 28px;
            transition: all .3s ease;
            &.hide {
                opacity: 0;
                visibility: hidden;
                transform: translate(-4px, 0);
            }
        }
        a {
            position: relative;
            padding: 0 24px 7px 8px;
            line-height: 22px;
            color: $textColor;
            display: inline-block;
            vertical-align: top;
            margin: 0 6px 0 0;
            em {
                font-style: normal;
                display: block;
                font-size: 12px;
                text-align: left;
                color:#bbb;
                white-space: nowrap;
            }
            &:before {
                content: '';
                left: 0;
                top: 0;
                bottom: 6px;
                width: 100%;
                position: absolute;
                display: block;
                background: rgba(#E4ECFA, .7);
                z-index: -1;
                border-radius: 4px;
            }
            i {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                width: 24px;
                height: 28px;
                display: block;
                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 10px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: #bbb;
                    border-radius: 1px;
                }
                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
            &.notShown {
                opacity: 0;
                transition: opacity .3s ease;
                &:before {
                    width: 28px;
                    transition: width .45s cubic-bezier(.87,-.41,.19,1.44) .2s;
                }
                i {
                    opacity: 0;
                    transition: all .3s ease .3s;
                }
                em {
                    opacity: 0;
                    transform: translate(-6px, 0);
                    transition: all .4s ease .3s;
                }
                &.shown {
                    opacity: 1;
                    &:before {
                        width: 100%;
                    }
                    i {
                        opacity: 1;
                    }
                    em {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }
            &.remove {
                &:before {
                    width: 28px;
                    transition: width .4s cubic-bezier(.87,-.41,.19,1.44) 0s;
                }
                i {
                    opacity: 0;
                    transition: all .3s ease 0s;
                }
                em {
                    opacity: 0;
                    transform: translate(-12px, 0);
                    transition: all .4s ease 0s;
                }
                &.disappear {
                    opacity: 0;
                    transition: opacity .5s ease 0s;
                }
            }
        }
    }
    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        text-align: left;
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        border-radius: 8px;
        transform: translate(0, 20px) scale(.8);
        transform-origin: 0 0;
        filter: drop-shadow(0 12px 20px rgba(#162A5A, .08));
        transition: all .4s ease, transform .4s cubic-bezier(.87,-.41,.19,1.44), filter .3s ease .2s;
        li {
            color: $textColor;
            background: #fff;
            list-style: none;
            margin-left:0;
            padding-left:0;
            padding: 12px 16px 12px 16px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: background .3s ease, color .3s ease, transform .3s ease .3s, opacity .5s ease .3s, border-radius .3s ease .3s;
            &:first-child {
                border-radius: 8px 8px 0 0;
                &:last-child {
                    border-radius: 8px;
                }
            }
            &:last-child {
                border-radius: 0 0 8px 8px;
                &:first-child {
                    border-radius: 8px;
                }
            }
            &:hover {
                background: $primary;
                color: #fff;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                background: rgba(#000, .4);
                opacity: 0;
                border-radius: 100%;
                transform: scale(1, 1) translate(-50%, -50%);
                transform-origin: 50% 50%;
            }
            &.beforeRemove {
                border-radius: 0 0 8px 8px;
                &:first-child {
                    border-radius: 8px;
                }
            }
            &.afterRemove {
                border-radius: 8px 8px 0 0;
                &:last-child {
                    border-radius: 8px;
                }
            }
            &.remove {
                transform: scale(0);
                opacity: 0;
                &:after {
                    animation: ripple .4s ease-out;
                }
            }
            &.notShown {
                display: none;
                transform: scale(0);
                opacity: 0;
                transition: transform .35s ease, opacity .4s ease;
                &.show {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
    &.open {
        & > div {
            //box-shadow: 0 4px 20px -1px rgba(#162A5A, .12);
            .arrow {
                &:before {
                    transform: rotate(-50deg);
                }
                &:after {
                    transform: rotate(50deg);
                }
            }
        }
        & > ul {
            transform: translate(0, 12px) scale(1);
            opacity: 1;
            visibility: visible;
            filter: drop-shadow(0 16px 24px rgba(#162A5A, .16));
        }
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    25% {
        transform: scale(30, 30);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(50, 50);
    }
}

.selectDefault{
    border: 0px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

$spacing__base: 1.6rem;
$easing: cubic-bezier(.33,.33,.33,1);

@mixin afterBg {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

.btn--shockwave:hover {
  animation: shockwaveJump 1s ease-out infinite;
  
  &:after {
    @include afterBg;
    animation: shockwave 1s .65s ease-out infinite;
  }
  
  &:before {
    @include afterBg;
    animation: shockwave 1s .5s ease-out infinite;
  }
}

@keyframes shockwaveJump {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
     transform: scale(0.98);
  }
  55% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px rgba(0,0,0,0.1), inset 0 0 1px rgba(0,0,0,0.1);
  }
  95% {
    box-shadow: 0 0 50px rgba(0,0,0,0), inset 0 0 30px rgba(0,0,0,0);
  }
  100% {
    transform: scale(2.25);

  }
}

// Body Home
.bodyHome {
    $grayDefaultColor:#AAAAAA;
    $grayDarkColor:#4A4A4A;
    $mainColor2:#66DDAA;
    $mainColor:#2DCA86;
    background: $bgBodyv2;
// Main Menu Homepage v2
#mainMenu{
    background: white;
    width: 100%;
    display: block;  
    position: fixed;
    transition:all 0.3s !important;
    display: block;
    -webkit-box-shadow: 1px 7px 34px -20px rgba(0,0,0,0.21);
    -moz-box-shadow: 1px 7px 34px -20px rgba(0,0,0,0.21);
    box-shadow: 1px 7px 34px -20px rgba(0,0,0,0.21);
    z-index: 500;
    nav{
        padding:15px 0;
        .navbar-brand{
            img{
                width:100px;
                height: auto;
            }
        }
        .navbar-nav{
            li{
                a{ 
                    font-size: 18px;
                    color:$grayDarkColor;
                    font-weight: 400;
                    transition: color 0.3s ease-in-out; 
                    &.active{
                        font-weight: 500;
                        color:$mainColor;
                    }
                    &:hover{
                        color:$mainColor;
                    }
                }
            }
        }
        .btn {
            background: $mainColor;
            color:white;
            border-radius: 50px;
            padding:13px 35px;
            border:none;
            transition: background 0.3s ease-in-out;
            &:hover{
                background: $mainColor2;
            }
        }
    }
}
//End Main Menu Homepage v2

//Header Home
#headerHome{
    padding-top:5em;
    background: url('../images/bgBuilding.svg') no-repeat left bottom;
    position: relative;
    .contentMiddle{
        display: table;
        height: 800px;
        .content{
            display: table-cell;
            vertical-align: middle;
            h2{
                font-size: 3.5em;
                line-height: 1em;
                color:$grayDarkColor;
                font-weight: 700;
            }
            p{color: $grayDefaultColor;font-size: 1.5em;}
            .btn{
                background: $mainColor;
                color: white;
                text-transform: uppercase;
                border-radius: 50px;
                padding:13px 55px;
                &:hover{
                    background: $mainColor2;
                }
            }
            .btnVideo{
                background: transparent url('../images/play-button-border.svg') no-repeat left center;
                color:$grayDarkColor;
                &:hover{
                    background: transparent url('../images/play-button-border.svg') no-repeat left center;
                    color: $mainColor2;
                }
            }
        }
    }
    .bgHeader2{
        content:' ';
        display:block;
        width:100%;
        height: 100%;
        background:  url('../images/bgHeader2.svg') no-repeat right bottom;
        background-size: 900px;
        position: absolute;
        bottom:0;
        right:0;
    }
}
//End Header Home

//Section 1 Home Surpluses no longer going to waste
.section1Home{
    padding:6em 0;
    background:  url('../images/bgInventory.svg') no-repeat center bottom;
    background-size: 80%;
    height: 900px;
    color:$grayDefaultColor;
    text-align: center;
    font-size: 18px;
    h3{
        font-size: 2.5em;
        line-height: 1.5em;
        color:$grayDarkColor;
    }
    p{}
}
//End Section 1 Home Surpluses no longer going to waste

//Section 2 Why Surp
.section2Home{
    padding:10em 0;
    background: url('../images/bgSection2.svg') no-repeat center 25em;
    background-size: 70%;
    color:$grayDefaultColor;
    text-align: center;
    font-size: 18px;
    h3{
        font-size: 2.5em;
        line-height: 1.5em;
        color:$grayDarkColor;
        img{
            width:100px;
            margin-top:-10px;
        }
    }
    .content{
        margin:6em 0 0 0;
        position: relative;
        .textRight1{
            position: absolute;
            top:0;
            right: -50px;
            height: 250px;
            color: $grayDarkColor;
            font-size: 20px;
            font-weight: 600;
            &::before{
                content:' ';
                display:table;
                width:100px;
                height: 250px;
                background:  url('../images/lineIndicatorText1.svg')no-repeat center center;
                background-size: cover;
                position: absolute;
                top:0;
                left:-5.2em;
                padding:0 10px;
            }
        }
        .textRight2{
            position: absolute;
            bottom:0;
            right: -50px;
            height: 250px;
            color: $grayDarkColor;
            font-size: 20px;
            font-weight: 600;
            &::before{
                content:' ';
                display:table;
                width:100px;
                height: 200px;
                background:  url('../images/lineIndicatorText2.svg')no-repeat center center;
                background-size: cover;
                position: absolute;
                top:0;
                left:-5.2em;
                padding:0 10px;
            }
        }
        .textRight3{
            position: absolute;
            top:0;
            left: -80px;
            height: 250px;
            color: $grayDarkColor;
            font-size: 20px;
            font-weight: 600;
            text-align: right;
            &::after{
                content:' ';
                display:table;
                width:150px;
                height: 390px;
                background:  url('../images/lineIndicatorText3.svg')no-repeat center center;
                background-size: cover;
                position: absolute;
                top:0;
                right:-7em;
                padding:0 10px;
            }
        }
    }
}
//End Section 2 Why Surp

//Section 3 Home Category of Interest
.section3Home{
    padding:3em 0;
    text-align: center;
    h3{
        font-size: 2.5em;
        line-height: 1.5em;
        color:$grayDarkColor;
        text-align: center;
    }
    .listCategory {
        margin-top:4em;
        width:75%;
        position: relative;
        .carousel-control-next{
            background: white url('../images/left-arrow.svg') no-repeat center center;
            //border:1px solid #D1D1D1;
            -webkit-box-shadow: 1px 3px 19px -10px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 3px 19px -10px rgba(0,0,0,0.75);
            box-shadow: 1px 3px 19px -10px rgba(0,0,0,0.75);
            content:' ';
            border-radius: 50px;
            left:-90px;
            width:60px;
            height:60px;
            top: auto;
            bottom: 230px;
        }
        .card{
            border-radius: 20px;
            border:none;
            transition: box-shadow 0.3s ease-in-out;
            &:hover{
                -webkit-box-shadow: -2px 6px 19px -9px rgba(0,0,0,0.75);
                -moz-box-shadow: -2px 6px 19px -9px rgba(0,0,0,0.75);
                box-shadow: -2px 6px 19px -9px rgba(0,0,0,0.75);
            }
            .card-img-top{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 200px;
                //object-fit: cover;
            }
            .card-body{
               padding:0px 30px 30px 30px;
               .titleCard{
                   text-transform: uppercase;
                   font-size: 25px;
                   font-weight: 700;
                   margin:0 0 30px 0;
                   padding:20px 0;
                   color:$grayDarkColor;
                   border-top:3px solid $mainColor;
               }
               .btnFindMore{
                   display: table;
                   background: $mainColor;
                   color:white;
                   padding:13px 55px;
                   border-radius: 50px;
                   margin:30px auto;
                   transition: background 0.3s ease-in-out;
                   &:hover{
                       text-decoration: none;
                       background:$mainColor2;
                   }
               }
            }
        }
    }
}
//End Section 3 Home Category of Interest

// Section 4 Step
.section4Step {
    margin:0em 0;
    padding:10em 0;
    background: url('../images/bgwave.svg') no-repeat right center;
    background-size: 900px;
    position: relative;
    h3{
        font-size: 2.5em;
        line-height: 1.5em;
        color:$grayDarkColor;
        text-align: center;
    }
    .step{
        position: relative;
        &::after{
            content:' ';
            display: block;
            width:500px;
            height:500px;
            background:  url('../images/manWithSmartphone.svg') no-repeat center center;
            position: absolute;
            top:0;
            right:-6em;
        }
        .nav-pills{
            .nav-link{
                position: relative;
                height: 200px;
                &.active{
                    background: none;
                    .number{
                        border:8px solid #80f7c3;
                    }
                    .line{
                        background: $mainColor;
                    }
                }
                &:focus{
                    background: none;
                }
                .number{
                    transition: border 2s cubic-bezier(0.22, 0.61, 0.36, 1);
                    border:8px solid transparent;
                    width:50px;
                    height:50px;
                    border-radius: 30px;
                    background: $mainColor;
                    color:white;
                    font-size: 18px;
                    font-weight: 700;
                    padding:3px 10px;
                    text-align: center;
                    z-index: 20;
                    position: absolute;
                    top:0;
                    left:15px;
                }
                .line{
                    transition: background 2s cubic-bezier(0.22, 0.61, 0.36, 1);
                    width:5px;
                    height: 200px;
                    background: #DCDCDC;
                    position: absolute;
                    top:10px;
                    left:38px;
                    display:table;
                    content:' ';
                    z-index: 1;
                }
            }
        }
        .tab-content{
            height: 500px;
            text-align: left;
            padding:5em 0;
            h5{
                font-size: 20px;
                color: $grayDefaultColor;
            }
            h4{
                font-size: 4em;
                font-weight: 400;
                color:$grayDarkColor;
            }
            p{
                font-size: 18px;
                color: $grayDefaultColor;
            }
            .btn {
                background: $mainColor;
                color:white;
                border-radius: 30px;
                padding:13px 55px;
                border:none;
            }
        }
    }
    .imgIcon{
        width:500px;
        height: 500px;
        background: gray url('../images/manWithSmartphone.svg') no-repeat center center;
        position: absolute;
        top:0;
        right:0;
        margin: auto 0 !important;
        content:' ';
        display: table;
        z-index: 1;
    }
}
// End Section 4 Step


}
//End Body Home

.slit-in-horizontal {
	-webkit-animation: slit-in-horizontal 0.45s ease-out both;
	        animation: slit-in-horizontal 0.45s ease-out both;
}
 @-webkit-keyframes slit-in-horizontal {
    0% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
              transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
              transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
    }
  }
  @keyframes slit-in-horizontal {
    0% {
      -webkit-transform: translateZ(-800px) rotateX(90deg);
              transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateX(87deg);
              transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateX(0);
              transform: translateZ(0) rotateX(0);
    }
  }
  