.dashboard .navbar {
  height: 60px;
  padding-left: 0;
  background: white !important;
}

.dashboard .navbar .logo {
  background: url("../images/iconDashboard/iconLogo.svg") no-repeat;
  background-size: 40%;
  background-position-x: 17px;
  background-position-y: 17px;
  height: 60px;
  width: 60px;
  margin-left: 0;
}

.dashboard .navbar .navRight {
  font-size: 16px;
  margin-right: 30px;
}

.dashboard .navbar .navRight a {
  padding: 20px 20px;
  display: table;
  color: #C5CCD4;
}

.dashboard .navbar .navRight a:hover {
  text-decoration: none;
  color: #AEAEAE;
}

.dashboard .navbar .navRight .infoNotif .iconinfoNotif {
  background: url("../images/iconDashboard/iconBell.svg") no-repeat;
  height: 20px;
  width: 20px;
  position: relative;
  margin: 3px 0 0 0;
}

.dashboard .navbar .navRight .infoNotif .iconinfoNotif span {
  font-size: 9px;
  position: absolute;
  right: -8px;
  top: -8px;
  background: #759DFC;
  color: white;
}

.dashboard .navbar .navRight .chatnotif .iconChatNotif {
  background: url("../images/iconDashboard/iconChatNotif.svg") no-repeat;
  height: 23px;
  width: 23px;
  position: relative;
  margin: 3px 0 0 0;
}

.dashboard .navbar .navRight .chatnotif .iconChatNotif span {
  font-size: 9px;
  position: absolute;
  right: -8px;
  top: -8px;
  background: #759DFC;
  color: white;
}

.dashboard .navbar .navRight .logout {
  text-align: left;
  position: relative;
}

.dashboard .navbar .navRight .logout a {
  padding-right: 30px;
}

.dashboard .navbar .navRight .logout a:hover {
  text-decoration: none;
  color: #AEAEAE;
}

.dashboard .navbar .navRight .logout .iconOff {
  background: url("../images/iconDashboard/iconOff.svg") no-repeat right;
  height: 16px;
  width: 16px;
  display: block;
  content: ' ';
  position: absolute;
  right: 5px;
  top: 23px;
}

.dashboard .navbar .search input {
  outline: none;
}

.dashboard .navbar .search input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-size: 100%;
}

.dashboard .navbar .search input::-webkit-search-decoration,
.dashboard .navbar .search input::-webkit-search-cancel-button {
  display: none;
}

.dashboard .navbar .search input[type=search] {
  background: url("../images/iconDashboard/iconSearch.svg") no-repeat 12px center;
  background-size: 15px;
  border: solid 0px #ccc;
  padding: 7px 10px 7px 42px;
  width: 85px;
  color: #AEAEAE;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  font-size: 16px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.dashboard .navbar .search input[type=search]:focus {
  width: 430px;
  background-color: #fff;
  border-color: #C5CCD4;
  -webkit-box-shadow: 11px 10px 33px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 33px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 33px -16px rgba(0, 0, 0, 0.75);
}

.dashboard .navbar .search input:-moz-placeholder {
  color: #C5CCD4;
}

.dashboard .navbar .search input::-webkit-input-placeholder {
  color: #C5CCD4;
}

.dashboard .sidenavDashboard {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #759dfc;
  background: -moz-linear-gradient(top, #759dfc 0%, #416cd4 100%);
  background: -webkit-linear-gradient(top, #759dfc 0%, #416cd4 100%);
  background: linear-gradient(to bottom, #759dfc 0%, #416cd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#759dfc', endColorstr='#416cd4',GradientType=0 );
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.dashboard .sidenavDashboard .closeBtn {
  background: #3A65CC;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
}

.dashboard .sidenavDashboard .closeBtn .iconArrowRight {
  display: table;
  content: ' ';
  background: url("../images/iconDashboard/left-arrow.svg") no-repeat;
  background-size: 9px;
  width: 15px;
  height: 15px;
  float: right;
}

.dashboard .sidenavDashboard a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.dashboard .sidenavDashboard a:hover {
  color: #b2b2b2;
  background-color: #343436;
}

.dashboard #main {
  transition: margin-left .3s;
  text-align: center;
  margin-left: 60px;
  padding: 5.5em 10px 0 10px;
}

.dashboard #main .card {
  border-radius: 10px;
  border: 0;
  text-align: left;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.025) !important;
  color: #C5CCD4;
  transition: 0.3s;
  margin-bottom: 26px;
}

.dashboard #main .card:hover {
  -webkit-box-shadow: 3px 4px 31px -4px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 3px 4px 31px -4px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 3px 4px 31px -4px rgba(0, 0, 0, 0.1) !important;
}

.dashboard #main .card.welcome {
  background: white url("../images/iconDashboard/bgCloud.svg") no-repeat right top;
  background-size: 150px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  min-height: 200px;
}

.dashboard #main .card.welcome .card-body {
  padding: 20px 20px 25px 20px;
}

.dashboard #main .card.welcome h5 {
  font-size: 25px;
  font-weight: 700;
  color: #AFC7FC;
}

.dashboard #main .card.welcome .alert {
  margin-top: 15px;
  margin-bottom: 0 !important;
  display: table;
  background: #E9EEFF url("../images/iconDashboard/iconBell.svg") no-repeat 15px center;
  background-size: 18px;
  color: #9F9F9F;
  border-radius: 30px;
  font-size: 12px;
  line-height: 14px;
  padding: 6px 20px 8px 42px;
}

.dashboard #main .card.welcome .arrowRight {
  margin-top: 5px;
  background: url("../images/iconDashboard/right-arrow-blue.svg") no-repeat center center;
  background-size: 50px 20px;
  display: table;
  height: 100%;
  margin-left: 10px;
  width: 2.2vw;
  right: 0;
}

.dashboard #main .card.cardSell {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  min-height: 200px;
  text-align: center;
}

.dashboard #main .card.cardSell .card-body {
  padding: 25px 20px 25px 20px;
}

.dashboard #main .card.cardSell .iconSell {
  background: #EFF3FF url("../images/iconDashboard/iconSellerBlue.svg") no-repeat center center;
  background-size: 50%;
  height: 6vw;
  width: 6vw;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  position: relative;
}

.dashboard #main .card.cardSell .iconSell::before {
  display: table;
  background: url("../images/iconDashboard/iconAddGray.svg") no-repeat center center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: -10px;
  content: ' ';
}

.dashboard #main .card.cardSell .btnCardDefault {
  border: 1px solid #C5CCD4;
  color: #C5CCD4;
  padding: 6px 30px 8px 30px;
  border-radius: 40px;
  transition: 0.3s;
}

.dashboard #main .card.cardSell .btnCardDefault:hover {
  text-decoration: none;
  background: #759DFC;
  color: white;
  border-color: #759DFC;
}

.dashboard #main .card.cardBuy {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  min-height: 200px;
  text-align: center;
}

.dashboard #main .card.cardBuy .card-body {
  padding: 25px 20px 25px 20px;
}

.dashboard #main .card.cardBuy .iconBuy {
  background: #EFF3FF url("../images/iconDashboard/iconBuyBlue.svg") no-repeat center center;
  background-size: 50%;
  height: 6vw;
  width: 6vw;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  position: relative;
}

.dashboard #main .card.cardBuy .iconBuy::before {
  display: table;
  background: url("../images/iconDashboard/iconShopGray.svg") no-repeat center center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: -10px;
  content: ' ';
}

.dashboard #main .card.cardBuy .btnCardDefault {
  border: 1px solid #C5CCD4;
  color: #C5CCD4;
  padding: 6px 30px 8px 30px;
  border-radius: 40px;
  transition: 0.3s;
}

.dashboard #main .card.cardBuy .btnCardDefault:hover {
  text-decoration: none;
  background: #759DFC;
  color: white;
  border-color: #759DFC;
}

.dashboard #main .card.chartContainer h4 {
  color: #759DFC;
}

.dashboard #main .card.chartContainer .filterNav {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.dashboard #main .card.chartContainer .filterNav li {
  float: left;
  font-size: 14px;
  border: 1px solid #ccc;
  border-right: 0;
}

.dashboard #main .card.chartContainer .filterNav li:hover {
  background: #759DFC;
  color: white !important;
}

.dashboard #main .card.chartContainer .filterNav li:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 15px;
}

.dashboard #main .card.chartContainer .filterNav li:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.dashboard #main .card.chartContainer .filterNav li a {
  color: #AEAEAE;
  display: table;
  padding: 3px 10px 5px 10px;
}

.dashboard #main .card.chartContainer .filterNav li a:hover {
  text-decoration: none;
  color: white !important;
}

.dashboard #main .card.chartContainer .filterNav li::after {
  content: "";
  clear: both;
  display: table;
}

.dashboard #main .card.chartContainer .dateTime .btn {
  border: 1px solid #C5CCD4;
  color: #C5CCD4;
  background: transparent;
  font-size: 14px;
  padding: 3px 15px 5px 15px !important;
  border-radius: 30px;
}

.dashboard #main .card.chartContainer .dateTime .dropdown-menu {
  font-size: 14px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.025) !important;
}

.dashboard #main .card.chartContainer .dateTime .dropdown-menu .dropdown-item {
  color: #C5CCD4 !important;
}

.dashboard .nav-partial {
  height: 100%;
  width: 60px;
  float: left;
  background: #759dfc;
  background: -moz-linear-gradient(top, #759dfc 0%, #416cd4 100%);
  background: -webkit-linear-gradient(top, #759dfc 0%, #416cd4 100%);
  background: linear-gradient(to bottom, #759dfc 0%, #416cd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#759dfc', endColorstr='#416cd4',GradientType=0 );
  list-style: none;
  font-size: 20px;
  position: fixed;
  padding-top: 3em;
}

.dashboard .nav-partial .profileSmall {
  min-height: 130px;
  position: relative;
  padding-top: 30px;
}

.dashboard .nav-partial .profileSmall span {
  font-size: 11px;
  color: white;
  font-weight: 400;
  text-align: center;
  display: table;
  width: 100%;
  margin-top: 5px;
  padding: 0 5px;
}

.dashboard .nav-partial .profileSmall .border {
  background: orange url("../../images/foto.png") no-repeat;
  background-size: cover;
  width: 45px;
  height: 45px;
  border: 2px solid #94FCC9 !important;
  border-radius: 50%;
  margin: auto;
  left: 0;
  right: 0;
  position: relative;
  padding-top: 2.2px;
  padding-left: 1px;
}

.dashboard .nav-partial ul {
  border-top: 1px solid #416CD4;
  padding-top: 15px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.dashboard .nav-partial ul li {
  list-style: none;
  margin-bottom: 5px;
  position: relative;
}

.dashboard .nav-partial ul li.active::before {
  width: 4px;
  height: 100%;
  background: #416CD4;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: ' ';
  border-radius: 10px;
}

.dashboard .nav-partial ul li a {
  display: table;
  text-align: center;
  padding: 15px 0px 20px 0px;
  width: 100%;
  color: white;
  transition: 0.3s;
}

.dashboard .nav-partial ul li a:hover {
  background: #6390f2;
}

.dashboard .nav-partial ul li a .iconDashboard {
  background: url("../images/iconDashboard/iconDashboard.svg") no-repeat;
  width: 20px;
  height: 20px;
  content: ' ';
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

.dashboard .nav-partial ul li a .iconAdd {
  background: url("../images/iconDashboard/iconAdd.svg") no-repeat;
  width: 20px;
  height: 20px;
  content: ' ';
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

.dashboard .nav-partial ul li a .iconMyProduct {
  background: url("../images/iconDashboard/iconMyProduct.svg") no-repeat;
  width: 20px;
  height: 20px;
  content: ' ';
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

.dashboard .nav-partial ul li a .iconBuyProduct {
  background: url("../images/iconDashboard/iconBuyProduct.svg") no-repeat;
  width: 20px;
  height: 20px;
  content: ' ';
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

.dashboard .nav-partial ul li a .iconChat {
  background: url("../images/iconDashboard/iconChat.svg") no-repeat;
  width: 20px;
  height: 20px;
  content: ' ';
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

.dashboard .side-nav-txt {
  color: white;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background: #3A65CC;
  cursor: pointer;
}

.dashboard .side-nav-txt .iconArrowRight {
  display: table;
  content: ' ';
  background: url("../images/iconDashboard/right-arrow.svg") no-repeat;
  background-size: 9px;
  width: 15px;
  height: 15px;
  margin: auto;
  left: 0;
  right: 0;
}

.dashboard .nav-partial .side-nav-txt:hover {
  color: #b2b2b2;
}

.dashboard #no-bg:hover {
  background-color: transparent;
}

@media screen and (max-height: 450px) {
  .dashboard .sidenavDashboard {
    padding-top: 15px;
  }
  .dashboard .sidenavDashboard a {
    font-size: 18px;
  }
}

/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
